/*! 作者：李召曦（勤奋的迷糊君） */
/* 带lz-slider前缀的id和类名由开发者提供 */
#banner{/* 执行对象 */
	width:600px;
	height:360px;
	float:left;
	margin-left:20px;
	position:relative;
	background-color: #000;
}

.control{
	border: 1px solid #000;
	width:30%;
	float:left;
	margin-left: 40px;

}

section{
	width: 100%;
	display: block;
	margin-top: 10px;

}

#banner ul{/* 本页中为 ul 框架 */
}
#banner .jj li{ /*本页中为 li 图片盒子 */
	width:200px;
	height:220px;
	margin-left: 20px;
	float: left;
}
img{
	width: 200px;
	height:220px;
}
.lz-sliderBtn{ /* 左右控件的外层盒子 */
	position: relative;
	top:50%;
}
#banner:hover .lz-sliderBtn{
	display: block;
}



ul.lz-sliderBtn>li{
	width:36px;
	height:36px;
	line-height: 36px;
	text-align: center;
	border-radius:50%;
	color:#000;
	font-size:18px;
	background-color:#000;
	position: absolute;
	margin:-18px 0 0 20px;
	cursor:pointer;
	filter:alpha(opacity=30);
	-moz-opacity:.3;
	-webkit-opacity:.3;
	-o-opacity:.3;
	opacity:.3;
}
li.lz-sliderBtn-left{}/* 左控件 */
li.lz-sliderBtn-right{ /* 右控件 */
	right:20px;
}
.lz-sliderPoint-box{
	width: 100%;
	position: absolute;
	bottom: 20px;
}
li.lz-sliderPoint{
	height: 20px;
	margin:0 auto;
}
.lz-sliderPoint:after{
	content: '';
	display: block;
	clear: both;
}
.lz-sliderPoint-point{
	width: 21px;
	height: 21px;
	margin-left: 10px;
	cursor: pointer;
	float: left;
	background: url('../images/indexPic.png') 0 -98px no-repeat;
}

.lz-sliderPoint-hover{
		background: url('../images/indexPic.png') 0 -76px no-repeat;
}
.banner ul:first-child li{
	color: #fff;
	text-align:center
}